{% extends 'StaticBundle::layout.html.twig' %}

{% block title %}Oglasi - {% endblock %}

{% block content %}
<h2>Novice</h2>
<form class="ad_form" action="{{ news.id ? path('_admin_edit_news', {'id': news.id}) : path('_admin_add_news') }}" method="post" {{ form_enctype(form) }} novalidate>
    {{ form_widget(form) }}
    <!--div class="form-actions"-->
        <input type="submit" name="save" value="Shrani" class="btn btn-primary">
    <!--/div-->
</form>

{% endblock %}
