{% extends 'StaticBundle::layout.html.twig' %}

{% block title %}O meni{% endblock %}

{% block content %}

<div>
    <p>
        <img style="border: 1px solid black;
                    float: left;
                    margin: 10px;" 
             src="{{ asset('bundles/static/images/sano.jpg') }}" 
             alt="Sano" />
        
        <br />Moje ime je <b>Sano Fužir</b> in prihajam iz Mozirja. 
        Končal sem srednjo Poklicno Tehniško Elektro in
        Računalniško šolo (PTERŠ), smer <b>Elektrotehnik računalništva</b> na Šolskem centru Velenje
        (ŠVC).
    </p>
    
    <p>
        Po končani srednji šoli sem obiskoval <b>Univerzo v Mariboru</b>, kjer sem obiskoval študijski
        program <b>Računalništvo in tehnologije komuniciranja (VS)</b>, vendar sem se kasneje preusmeril
        na študij Informatike na <b>Višji strokovni šoli v Velenju</b>, kjer sem tudi diplomiral.
    </p>

    <p>
        Kot <b>elektrotehnik računalništva</b> in <b>inženir informatike</b> imam širok spekter znanja
        računalniških programov, od osnovnih do bolj zahtevnih. Obvladam okolje <b>Windows</b>,
        <b>UNIX-Linux</b>, <b>Mac-OSX</b>, splošni <b>MS Office in Open Office</b>, programiranje v programskem jeziku <b> C, C++</b> 
        Prav tako imam znanje izdelave spletnih strani v jezikih <b>HTML, CSS, SQL, PHP in Java script</b>.
        Prav tako mi je poznan tudi <b>Visual studio</b>, <b>Zend Framework</b>, <b>Symfony Framework</b>, <b>DoctrineORM</b>,
        <b>MySQL</b> in <b>jQuary</b>.
    </p>
    
    <p>
        Ravno tako mi ni tuje <b>sestavljanje računalnikov</b> in računalniške opreme, <b>osnove elektrotehnike</b>
        in <b>električnih inštalacij</b>. Vsekakor pa sem se pripravljen naučiti vse, 
        kar je potrebno pri <b>strokovnem opravljanju svojega dela</b>.
    </p>

    <p>
        Zase bi lahko rekel, da sem <b>natančen</b> in <b>kreativen</b> na različnih področjih, ki me zanimajo,
        <b>vztrajen</b>, kadar želim <b>doseči svoje cilje</b> in obenem dosti <b>pogumen</b>, da <b>sledim svojim sanjam</b>
        in se prepuščam <b>novim izzivom</b>, ki mi prihajajo naproti. Pri delu, ki ga opravljam sem <b>dosleden</b>,
        <b>pošten</b> in <b>iznajdljiv</b>. Pri opisanih lastnostih bi lahko izpostavil tudi <b>radovednost</b> in
        željo po <b>novem znanju</b>, saj mi ovire, na katere naletim tekom dela res <b>predstavlajo izziv</b>, ki
        ga je <b>potrebno rešiti</b>.
    </p>
    <p>
        <b>In nič se ne zdi nemogoče!</b>
    </p>
</div>

{% endblock %}