{% extends 'StaticBundle::layout.html.twig' %}

{% block title %}Kontakt{% endblock %}

{% block content_header '' %}

{% block content %}

<div class="contacts">
    <h1>Kontakt</h1>
    <div style="position: absolute;">
        <p>
            <b>Sano Fužir</b><br />
            Loke pri Mozirju 44c<br />
            3330 Mozirje
        </p>
        <p>Tel: +386 70 400 553</p>
        <p>Email: <a href="mailto:sano.fuzir@gmail.com" target="_blank">sano.fuzir@gmail.com</a></p>
        <p>Spletna stran: <a href="http://www.sanofuzir.com">www.sanofuzir.com</a></p>
    </div>
    
    <div style="margin-left: 500px;">
        <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
                src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=44c+Loke+pri+Mozirju,+Mozirje,+Slovenia&amp;aq=0&amp;oq=loke+pri+mozirju+44c,+slovenia&amp;sll=37.0625,-95.677068&amp;sspn=43.528905,79.013672&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Loke+pri+Mozirju+44c,+3330+Mozirje,+Slovenia&amp;z=14&amp;ll=46.335822,14.971569&amp;output=embed">
        </iframe><br />
        <small>
            <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=44c+Loke+pri+Mozirju,+Mozirje,+Slovenia&amp;aq=0&amp;oq=loke+pri+mozirju+44c,+slovenia&amp;sll=37.0625,-95.677068&amp;sspn=43.528905,79.013672&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Loke+pri+Mozirju+44c,+3330+Mozirje,+Slovenia&amp;z=14&amp;ll=46.335822,14.971569" 
               style="color:#0000FF;text-align:left">View Larger Map</a>
        </small>
    </div>
</div>

{% endblock %}
