{% extends 'StaticBundle::layout.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="index_content">
          <div style="margin-top: 30px;">
              <div>
                  <p>
                <b>Zdravo!</b><br /><br />
                Moje ime je Sano Fužir. Sem spletni programer. Aplikacije razvijam z znanjem programskih jezikov
                in z uporabo najnoveših ogrodij.
                Uživam v razvijanju novih aplikacij, spoznavanju novih orodij in tehnologij. <br /><br />
                <!--
                "Pri aplikacijah dam prednost preprostostosti, učinkovitosti in zanesljivosti, 
                saj le tako dosežemo najboljše rezultate."
                -->
              </p>
              </div>
              <div>
                  <p>
                      IŠČETE SPLETNEGA PROGRAMERJA?<br />
                      Vedno sprejmem nove in zanimive spletne projekte.<br />
                      Če želite sodelovati z mano me kontaktirajte
                    <br />
                    <a href="">Kontakt →</a>
                  </p>
              </div>
              <hr />
          </div>
          
      <div>
          <div>
              <p>
                <b>O MOJEM DELU</b><br />
                text<br />
                text<br />
                text<br />
                text<br />
                text<br />
                text<br />
                text<br />
              </p>
          </div>
              <div>
                  <p>
                      "Nikoli ti niso dane sanje, <br />ne da bi ti bila dana tudi moč, <br />da jih uresničiš"
                  </p>
              </div>
        </div>
    </div>

{% endblock %}
