{% extends 'StaticBundle::layout.html.twig' %}

{% block title %}Projekti{% endblock %}

{% block content_header '' %}

{% block content %}

<div class="projects">
    <h1>Novejši projekti:</h1>
    <p>Symfony 2, Doctrine 2 projekt:</p>
    <p><a href="http://www.damainpotepuh.si/" target="_blank">www.damainpotepuh.si</a></p>
    <p>Diplomska naloga - Zend Framework, Doctrine 2 Projekt:</p>
    <p><a href="https://github.com/sanofuzir/oglasnik" target="_blank">Oglasnik - Diplomska naloga</a></p>
    <br />
    <h1>Starejši projekti:</h1>
    <p>Stari PHP projekti</p>
    <p><a href="http://www.doric.si/" target="_blank">www.doric.si</a></p>
    <p><a href="http://www.airtrack-europe.si/" target="_blank">www.airtrack-europe.si</a></p>
    <p><a href="http://www.airfunproducts.com/" target="_blank">www.airfunproducts.com</a></p>
</div>

{% endblock %}
