{% extends 'StaticBundle::layout.html.twig' %}

{% block title %}Sano Fužir{% endblock %}

{% block content_header '' %}

{% block content %}

<div class="vsebina">
    <h1>Novejši projekti:</h1>
    <p><a href="http://www.damainpotepuh.si/" target="_blank">www.damainpotepuh.si</a></p>
    <h1>Starejši projekti:</h1>
    <p><a href="http://www.doric.si/" target="_blank">www.doric.si</a></p>
    <p><a href="http://www.airtrack-europe.si/" target="_blank">www.airtrack-europe.si</a></p>
    <p><a href="http://www.airfunproducts.com/" target="_blank">www.airfunproducts.com</a></p>
</div>
    
    

    

    
{% endblock %}
